/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(235, 233, 233);
    align-items: center;
  }
  
  .new_restaurant a {
    color: white;
    background-color: rgb(37, 106, 255);
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .new_restaurant a:hover {
    color: lightgrey;
  }
  
  ul {
    list-style-type: none;
  }
  
  .rest_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 16px;
    margin: 0 auto;
    text-align: center;
    max-width: 450px;
    width: 100%;
  }
  